
.Qoutes{

text-align: center;




}

button{
    background-color: blue;
    padding: 50px 50px;

}

h1{
        font-family: Impact;
font-size: 50px;
        font-weight: bold;
}


